<div class="m-3">
  <h1>Result</h1>
  <p>Sorry but <strong><%= @guess.upcase %></strong> can't be built out of <%= @letters %></p>
  <%= link_to "Play again", new_path, class: "text-decoration-none" %>
</div>
